/* ======================================================= */
/* БАЗОВЫЕ СТИЛИ ПРОЕКТА */
/* ======================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Общие стили для ссылок, чтобы они не выглядели как текст */
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
